{% extends 'home/home.html' %}
{% load static %}
{% block contenido %}
    <div class="row justify-content-center">
        {% if request.user.tipo == 1 %}
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="title">PACIENTES</h3>
                    </div>
                    <div class="card-body text-center">
                        <span class="h2 text-primary">{{ paciente }}</span>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <a href="{% url 'paciente_list' %}" class="btn btn-info btn-block">LISTADO</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="{% url 'paciente_create' %}" class="btn btn-primary btn-block">NUEVO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="title">FICHAS MEDICAS</h3>
                    </div>
                    <div class="card-body text-center">
                        <span class="h2 text-primary">{{ ficha_medica }}</span>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <a href="{% url 'ficha_medica_list' %}" class="btn btn-info btn-block">LISTADO</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="{% url 'ficha_medica_create' %}" class="btn btn-primary btn-block">NUEVO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="title">CONSULTAS</h3>
                    </div>
                    <div class="card-body text-center">
                        <span class="h2 text-primary">{{ consulta }}</span>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <a href="{% url 'consulta_list' %}" class="btn btn-info btn-block">LISTADO</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="{% url 'consulta_create' %}" class="btn btn-primary btn-block">NUEVO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}